.products-grid 
  display: flex
  flex-direction: column
  width: 100vw

/*Tablet*/
@media screen and (min-width: 40em) and (max-width:63.9em)
  .products-grid 
    display: grid
    grid-template-columns: repeat( 3, 1fr)
    grid-column-gap: 1em    

/*Web*/
@media screen and (min-width: 64em)
  .products-grid 
    display: grid
    grid-template-columns: repeat( 5, 1fr)
    grid-column-gap: 1em   